$fa-font-path: "/assets/fontawesome/webfonts";

$white: #e8e4d9;
$primary-color: #78918e;
$secondary-color: #eccf9f;
$dark: #16252b;
$font-family: "Krona One", sans-serif;

$base-font-size: 12px;

$frame-margin: 25px;
$frame-gutter: 2px;
$frame-gutter-color: $white;

html {
    font-size: $base-font-size;
}

a {
    color: $primary-color;
    text-decoration: none;
  
    &:visited {
      color: $secondary-color;
    }
  
    &:hover {
      color: $secondary-color;
      text-decoration: underline;
    }
  }

@import "../assets/fontawesome/scss/fontawesome.scss";
@import "../assets/fontawesome/scss/brands.scss";
